body {
  background-color: #aaf;
}

.app-sidebar {
  width: 15%;
  float: left;
  position: absolute;
  height: 100%;
  border-right: 1px solid black;
  background-color: #99e;
}

.settings-button {
  text-decoration: underline;
  float: left;
}

.app-header {
  border-bottom: 1px solid black;
  overflow: auto;
}

.title {
  font-size: 24px;
  font-style: italic;
}

.header {
  text-align: center;
}

.login-form, .logged-in-text {
  float: right;
  text-align: right;
}

.post-service {
  float: right;
  margin-left: 5px;
}

.app-feed {
  position: absolute;
  height: 100%;
  padding-left: 20px;
  margin-left: 15%;
}

.post-profile-pic {
  float: left;
  margin-right: 10px;
  height: 48px;
  width: 48px;
}

.post-timestamp {
  float: right;
}

.post {
  clear: left;
  padding: 5px;
  border: 1px solid black;
  width: 100%;
  overflow: auto;
}

.feed-posts .post:nth-child(even) {
  background-color: #ccf;
}

.feed-posts .post:nth-child(odd) {
  background-color: #bbf;
}

.group {
  padding: 5px;
}

.group-edit {
  margin-left: 10px;
}

a.post-main {
  color: black;
  text-decoration: none;
}

.group-member {
  margin-top: 5px;
  margin-left: 5px;
}