.app-sidebar {
  width: 15%;
  float: left;
  position: absolute;
  height: 100%;
  border-right: 1px solid black;
  background-color: #dff6b5;
}

.logout-button {
  float: right;
  margin-left: 5px;
}

.app-header {
  border-bottom: 1px solid black;
  overflow: auto;
  background-color: #65ae84;
}

.title {
  margin: 10px 0 0 5px;
  font-size: 50px;
  font-style: oblique;
  font-family: "Times New Roman", Times, serif;
  color: white;
}

.header {
  text-align: center;
}

.login-form, .logged-in-text {
  color: white;
  font-size: 16px;
  float: right;
  text-align: right;
}

.post-service {
  float: right;
  margin-left: 5px;
}

.app-feed {
  position: absolute;
  height: 100%;
  padding-left: 20px;
  margin-left: 15%;
}

.post-profile-pic {
  float: left;
  margin-right: 10px;
  height: 48px;
  width: 48px;
}

.post-timestamp {
  float: right;
}

.post {
  clear: left;
  padding: 5px;
  border: 1px solid black;
  width: 100%;
  overflow: auto;
}

.feed-posts .post:nth-child(even) {
  background-color: #ccf;
}

.feed-posts .post:nth-child(odd) {
  background-color: #bbf;
}

.group {
  padding: 5px;
}

.group-edit {
  margin-left: 10px;
}

a.post-main {
  color: black;
  text-decoration: none;
}

.btn-sm {
  margin: 4px 4px 6px 0;
}

.createGroupButton {
  margin: 4px 0 15px 20px;
  border-radius: 50px;
}

.sidebar-groups-header {
  font-size: 17px;
  text-decoration: underline;
  text-align: center;
  margin-bottom: 5px;
}

.save-group-button {
  margin: 4px 0 0 37px;
}

.add-member-link {
  margin-left: 48px;
}

.login-form-username, .login-form-password {
  margin: 4px 4px 0 0;
}

.group-name, .member-name, .ig-username, .twitter-username, .facebook-username {
  margin: 6px 0 0 15px;
}

.picture {
  filter: brightness(4000%);
  margin: 10px 0 10px 35px;
  float: left;
}

.sidebar-groups-header {
  color: #65ae84 ;
  font-family: "Arial Black", Gadget, sans-serif;
}